.nav{
display: flex;
  background-color: rgb(231, 231, 231) ;
  border-bottom: rgb(59, 59, 59);
  align-items: center;
  margin-bottom: 50px;

h1{
  color:black;
  font-size: rem(30px);
  margin-left: 5px;
 
}
}